<div class="row">
    <div class="col-md-12">Select criteria to filter by and press the 'Filter' button...</div>
</div>
<style>
    .date_control_fix {
        padding-left: 10px;
        padding-right: 0px;
    }
</style>
<div class="row top_margin">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-3">From:</div>
            <div class="col-md-9 date_control_fix"><input class="form-control" type="date" ng-model="search.fromDate"></div>
        </div>
        <div class="row">
            <div class="col-md-3">To:</div>
            <div class="col-md-9 date_control_fix"><input class="form-control" type="date" ng-model="search.toDate"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2">Users:</div>
            <div class="col-md-10">
                <table class="table">
                    <tr ng-repeat="user in search.users"
                        ng-class="{active: user.selected == true}"
                        ng-mousedown="user.select()">
                        <td><input type="checkbox" ng-checked="user.selected"></td>
                        <td>{{user.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">Audit codes:</div>
            <div class="col-md-8">
                <table class="table">
                    <tr ng-repeat="auditCode in search.auditCodes"
                        ng-class="{active: auditCode.selected == true}"
                        ng-mousedown="auditCode.select()">
                        <td><input type="checkbox" ng-checked="auditCode.selected"></td>
                        <td>{{auditCode.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-3">Message:</div>
            <div class="col-md-9"><input class="form-control" ng-model="search.message" type="text"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button class="btn btn-primary" type="button" ng-click="filter(search)">Filter</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped top_margin">
            <tr>
                <th>Created</th>
                <th>User</th>
                <th>Audit Code</th>
                <th>Audit Message</th>
            </tr>
            <tr ng-repeat="audit in audits">
                <td>{{audit.created | formatDate}}</td>
                <td>{{audit.username}}</td>
                <td>{{audit.auditCode.value}}</td>
                <td ng-click="select(audit)" data-toggle="modal" data-target="#viewAuditMessageWindow">{{audit.auditMessage | limitTo:100}}<span ng-if="audit.auditMessage.length > 100">...</span></td>
            </tr>
        </table>
    </div>
</div>

<!-- (Modal) Configuration creation form -->
<div class="modal fade" id="viewAuditMessageWindow" tabindex="-1" role="dialog" aria-labelledby="windowTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="windowTitle">Audit message</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <td>Created</td>
                        <td>{{selectedAudit.created | formatDate}}</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>{{selectedAudit.username}}</td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>{{selectedAudit.auditCode.value}}</td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td>{{selectedAudit.auditMessage}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>