<div class="row">
    <div class="col-lg-3">
        <select class="form-control"
                ng-model="customer"
                ng-change="customerSelected(customer)"
                ng-options="customer.name for customer in customers">
        </select>
    </div>
    <div class="col-lg-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createConfigurationWindow">
            Create new licence configuration
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default top_margin" style="margin-top: 15px;">
            <div class="panel-body">
                <button type="button" class="btn btn-default padding_right" ng-class="{disabled : selectedConfiguration == undefined}">Disable configuration</button>
                <br/>
                <button type="button" class="btn btn-default top_margin" ng-class="{disabled : selectedConfiguration == undefined}">Increase activations</button>
                <br/>
                <button type="button" class="btn btn-default top_margin" ng-class="{disabled : selectedConfiguration == undefined}">Decrease activations</button>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-10">
                <h2>Licence configuration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Overview</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Product</th>
                            <th>Created</th>
                            <th>User</th>
                            <th>Activations</th>
                            <th>Serial</th>
                        </tr>
                        <tr ng-repeat="configuration in configurations"
                            ng-mousedown="configurationSelected(configuration)"
                            ng-class="{active: configuration.id == selectedConfiguration.id}">
                            <td>{{configuration.product}}</td>
                            <td>{{configuration.created | formatDate}}</td>
                            <td>{{configuration.user}}</td>
                            <td>{{configuration.activations.length}} / {{configuration.maxActivations}}</td>
                            <td>{{configuration.serial}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Product options</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="(name, value) in selectedConfiguration.options">
                            <td>{{name}}</td>
                            <td>{{value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <h2>Licence activations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Overview</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Created</th>
                            <th>Machine identifier</th>
                            <th>Product version</th>
                            <th>Type</th>
                        </tr>
                        <tr ng-repeat="activation in selectedConfiguration.activations | orderBy:'created'" ng-mousedown="activationSelected(activation)"
                            ng-class="{active: activation.id == selectedActivation.id}">
                            <td>{{activation.created | formatDate}}</td>
                            <td>{{activation.machineIdentifier}}</td>
                            <td>{{activation.productVersion}}</td>
                            <td>{{activation.activationType.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Activation info</h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="(name, value) in selectedActivation.extraInfo">
                            <td>{{name}}</td>
                            <td>{{value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- (Modal) Configuration creation form -->
<div class="modal fade" id="createConfigurationWindow" tabindex="-1" role="dialog" aria-labelledby="windowTitle"
     aria-hidden="true" ng-controller="ConfigurationCreation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="windowTitle">Create configuration</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label for="inputConfigurationCustomer" class="control-label col-md-4">Customers</label>
                        <div class="col-md-8">
                            <select id="inputConfigurationCustomer"
                                    class="form-control"
                                    ng-required="true"
                                    ng-model="customer"
                                    ng-change="customerSelected(customer)"
                                    ng-options="customer.name for customer in customers | orderBy:'name'">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputConfigurationProduct" class="control-label col-md-4">Products</label>
                        <div class="col-md-8">
                            <select id="inputConfigurationProduct"
                                    class="form-control"
                                    ng-model="product"
                                    ng-change="productSelected(product)"
                                    ng-options="product.name for product in products | orderBy:'name'">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputConfigurationMaxActivations" class="control-label col-md-4">Max Activations</label>
                        <div class="col-md-8">
                            <input id="inputConfigurationMaxActivations"
                                    class="form-control"
                                    type="text"
                                    ng-model="product.maxActivations">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group" ng-repeat="option in product.options | orderBy:'name'">
                    <ng-switch on="option.type">
                        <div class="row" ng-switch-when="bool">
                            <label for="inputConfigurationOption1" class="control-label col-md-4">{{option.name}}</label>
                            <div class="col-md-8">
                                <input id="inputConfigurationOption1"
                                       type="checkbox"
                                       ng-model="option.value">
                            </div>
                        </div>
                        <div class="row" ng-switch-when="text">
                            <label for="inputConfigurationOption2" class="control-label col-md-4">{{option.name}}</label>
                            <div class="col-md-8">
                                <input id="inputConfigurationOption2"
                                       class="form-control"
                                       type="text"
                                       ng-model="option.value">
                            </div>
                        </div>
                        <div class="row" ng-switch-when="list">
                            <label for="inputConfigurationOption4" class="control-label col-md-4">{{option.name}}</label>
                            <div class="col-md-8">
                                <select id="inputConfigurationOption4"
                                        class="form-control"
                                        ng-model="option.value"
                                        ng-options="value for value in option.values | cleverOrdering">
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-switch-when="date">
                            <label for="inputConfigurationOption5" class="control-label col-md-4">{{option.name}}</label>
                            <div class="col-md-8">
                                <input id="inputConfigurationOption5"
                                       class="form-control"
                                       type="date"
                                       ng-model="option.value">
                            </div>
                        </div>
                    </ng-switch>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>