<div class="row">
    <div class="col-lg-3">
        <select class="form-control"
                ng-model="customer"
                ng-change="customerSelected(customer)"
                ng-options="customer.name for customer in customers">
        </select>
    </div>
    <div class="col-lg-3">
        <button type="button" class="btn btn-default">Create new licence configuration</button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default top_margin" style="margin-top: 15px;">
            <div class="panel-body">
                <button type="button" class="btn btn-default padding_right">Disable configuration</button><br/>
                <button type="button" class="btn btn-default top_margin">Increase activations</button><br/>
                <button type="button" class="btn btn-default top_margin">Decrease activations</button>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-10">
                <h2>Licence configuration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Overview</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Product</th>
                            <th>Created</th>
                            <th>User</th>
                            <th>Activations</th>
                            <th>Serial</th>
                        </tr>
                        <tr ng-repeat="configuration in configurations" ng-mousedown="configurationSelected(configuration)" ng-class="{active: configuration.id == selectedConfigurationId}">
                            <td>{{configuration.product}}</td>
                            <td>{{configuration.created | formatDate}}</td>
                            <td>{{configuration.user}}</td>
                            <td>{{configuration.activations.length}} / {{configuration.maxActivations}}</td>
                            <td>{{configuration.serial}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Product options</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="configurationOption in configurationOptions">
                            <td>{{configurationOption.name}}</td>
                            <td>{{configurationOption.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <h2>Licence activations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Overview</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Created</th>
                            <th>Machine identifier</th>
                            <th>Product version</th>
                            <th>Type</th>
                        </tr>
                        <tr ng-repeat="activation in activations" ng-mousedown="activationSelected(activation)" ng-class="{active: activation.id == selectedActivationId}">
                            <td>{{activation.created | formatDate}}</td>
                            <td>{{activation.machineIdentifier}}</td>
                            <td>{{activation.productVersion}}</td>
                            <td>{{activation.activationType.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Activation info</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Option</th>
                            <th>Value</th>
                        </tr>
                        <tr ng-repeat="activationInfo in activationInfos">
                            <td>{{activationInfo.name}}</td>
                            <td>{{activationInfo.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>